.text-container {
    overflow: hidden;
    display: inline;
    margin-right: 0;
    
  }

#search-input {
    background: transparent;
    border-style: solid;
    border-color: rgb(76, 112, 65);
    border-width: 0px 0px 1px 0px;
    color: white;
    font-size: 18px;
    width: 400px ;
}

#search-input:focus {
    outline: none;
}