.text-container {
    overflow: hidden;
    display: inline;
    margin-right: 0;
    
  }

.input-style {
    background: transparent;
    border-style: solid;
    border-color: #7f7;
    border-width: 0px 0px 1px 0px;
    color: white;
    font-size: 18px;
    width: 400px ;
}

.input-style:focus {
    outline: none;
}